# ---- DATA ----
data/*
!data/README.md

# ---- MODEL OUTPUTS ----
results/**/models/
results/**/features/ 
results/**/kept_tiles_preview/
results/**/tile_filter_preview/
results/**/*.pt
results/**/*.parquet
results/**/dataframes/

# ---- PYTHON CACHE ----
__pycache__/
*.pyc
.ipynb_checkpoints/

# ---- ENV / OS FILES ----
.DS_Store
.env

# ---- VENV ENVIRONMENTS ----
*.egg-info/
*.pth
